<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="Sweden"
					useFullscreenExpand="true"
		>
			<image imageURL="images/IMG_0192.jpg" thumbURL="thumbs/IMG_0192.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Ikea has a much richer catalog in Sweden, and even sells shampoos, etc]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/30 sec at f / 2.8)]]></caption>
		</image>
			<image imageURL="images/IMG_0332.jpg" thumbURL="thumbs/IMG_0332.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 -  (8.56 mm, 1/125 sec at f / 4.0)]]></caption>
		</image>
			<image imageURL="images/IMG_0433.jpg" thumbURL="thumbs/IMG_0433.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 6.0 sec at f / 8.0)]]></caption>
		</image>
			<image imageURL="images/IMG_0452.jpg" thumbURL="thumbs/IMG_0452.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/60 sec at f / 8.0)]]></caption>
		</image>
			<image imageURL="images/IMG_0816.jpg" thumbURL="thumbs/IMG_0816.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/20 sec at f / 2.8)]]></caption>
		</image>
			<image imageURL="images/IMG_1200_filtered2.jpg" thumbURL="thumbs/IMG_1200_filtered2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 15.0 sec at f / 2.0)]]></caption>
		</image>
			<image imageURL="images/IMG_1531.jpg" thumbURL="thumbs/IMG_1531.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/20 sec at f / 2.0)]]></caption>
		</image>
			<image imageURL="images/IMG_1599_600_601_7.jpg" thumbURL="thumbs/IMG_1599_600_601_7.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[ -  (, )]]></caption>
		</image>
			<image imageURL="images/IMG_1660r.jpg" thumbURL="thumbs/IMG_1660r.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/60 sec at f / 2.0)]]></caption>
		</image>
			<image imageURL="images/IMG_1666.jpg" thumbURL="thumbs/IMG_1666.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/60 sec at f / 4.0)]]></caption>
		</image>
			<image imageURL="images/IMG_1887r.jpg" thumbURL="thumbs/IMG_1887r.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 15.0 sec at f / 8.0)]]></caption>
		</image>
			<image imageURL="images/IMG_2217.jpg" thumbURL="thumbs/IMG_2217.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/60 sec at f / 2.0)]]></caption>
		</image>
			<image imageURL="images/IMG_2225.jpg" thumbURL="thumbs/IMG_2225.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/500 sec at f / 7.1)]]></caption>
		</image>
			<image imageURL="images/IMG_2281_hdr.jpg" thumbURL="thumbs/IMG_2281_hdr.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0 - 22.5 mm (6 mm, 1/60 sec at f / 8.0)]]></caption>
		</image>
			<image imageURL="images/IMG_2578.jpg" thumbURL="thumbs/IMG_2578.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/60 sec at f / 2.8)]]></caption>
		</image>
			<image imageURL="images/IMG_3591e42.jpg" thumbURL="thumbs/IMG_3591e42.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (6 mm, 1/320 sec at f / 4.0)]]></caption>
		</image>
			<image imageURL="images/IMG_4290r.jpg" thumbURL="thumbs/IMG_4290r.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (12.845 mm, 1/500 sec at f / 3.5)]]></caption>
		</image>
			<image imageURL="images/IMG_4579r.jpg" thumbURL="thumbs/IMG_4579r.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[Canon PowerShot S90 - 6.0-22.5 mm (10.701 mm, 1/5 sec at f / 3.2)]]></caption>
		</image>
	</juiceboxgallery>
