<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="New Zealand"
					useFullscreenExpand="false"
		>
			<image imageURL="images/P5267114.jpg" thumbURL="thumbs/P5267114.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Giant chess in Cathedral Square, Christchurch]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (16 mm, 1/1000 sec at f / 2.8)]]></caption>
		</image>
			<image imageURL="images/P5277228.jpg" thumbURL="thumbs/P5277228.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Blue penguin]]></title>
			<caption><![CDATA[E-P3 - OLYMPUS M.45mm F1.8 (45 mm, 1/8 sec at f / 1.8)]]></caption>
		</image>
			<image imageURL="images/IMG_5963.jpg" thumbURL="thumbs/IMG_5963.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Clutha River]]></title>
			<caption><![CDATA[iPhone 7 - iPhone 7 back camera 3.99mm f/1.8 (3.99 mm, 1/1800 sec at f / 1.8)]]></caption>
		</image>
			<image imageURL="images/P5297333.jpg" thumbURL="thumbs/P5297333.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Glenorchy]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (14 mm, 1/80 sec at f / 13)]]></caption>
		</image>
			<image imageURL="images/P5307403.jpg" thumbURL="thumbs/P5307403.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[The dolphins really love our ferry for some reason]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (19 mm, 1/500 sec at f / 7.1)]]></caption>
		</image>
			<image imageURL="images/P5307406.jpg" thumbURL="thumbs/P5307406.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[More dolphins]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (19 mm, 1/125 sec at f / 4.0)]]></caption>
		</image>
			<image imageURL="images/P5307417.jpg" thumbURL="thumbs/P5307417.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (23 mm, 1/500 sec at f / 2.8)]]></caption>
		</image>
			<image imageURL="images/P5307493.jpg" thumbURL="thumbs/P5307493.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Milford sound]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (27 mm, 1/250 sec at f / 5.0)]]></caption>
		</image>
			<image imageURL="images/IMG_6133.jpg" thumbURL="thumbs/IMG_6133.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[View of Lake Wakatipu]]></title>
			<caption><![CDATA[iPhone 7 - iPhone 7 back camera 3.99mm f/1.8 (3.99 mm, 1/2000 sec at f / 1.8)]]></caption>
		</image>
			<image imageURL="images/P5317567.jpg" thumbURL="thumbs/P5317567.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Wanaka Tree]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (18 mm, 1/60 sec at f / 8.0)]]></caption>
		</image>
			<image imageURL="images/P6020095_stacked.jpg" thumbURL="thumbs/P6020095_stacked.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Star trails, captured from our hotel room]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (13 mm, 40.0 sec at f / 2.8)]]></caption>
		</image>
			<image imageURL="images/IMG_6351.jpg" thumbURL="thumbs/IMG_6351.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Enroute to Hooker valley]]></title>
			<caption><![CDATA[iPhone 7 - iPhone 7 back camera 3.99mm f/1.8 (3.99 mm, 1/950 sec at f / 1.8)]]></caption>
		</image>
			<image imageURL="images/IMG_6367.jpg" thumbURL="thumbs/IMG_6367.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Hooker Valley]]></title>
			<caption><![CDATA[iPhone 7 - iPhone 7 back camera 3.99mm f/1.8 (3.99 mm, 1/4800 sec at f / 1.8)]]></caption>
		</image>
			<image imageURL="images/P6040101.jpg" thumbURL="thumbs/P6040101.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Church of the Good Shepherd in Lake Tekapo]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (12 mm, 1/800 sec at f / 9.0)]]></caption>
		</image>
			<image imageURL="images/P6040153-HDR.jpg" thumbURL="thumbs/P6040153-HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[Lake Tekapo]]></title>
			<caption><![CDATA[E-P3 - LUMIX G VARIO 12-35/F2.8 (12 mm, 1/8 sec at f / 11)]]></caption>
		</image>
	</juiceboxgallery>
